// Ligtht theme
$ligtht_theme_background: #ffffff;

$ligtht_theme_font_primary: #212121;
$ligtht_theme_font_secondary: #616161;

// Dark theme
$dark_theme_background: #151515;

$dark_theme_font_primary: #f0f0f0;
$dark_theme_font_secondary: #969696;

// Colors
$strom_blue: #087099;
$brick_red: #cc3333;
$sap_green: #b7b327;
